* {
  box-sizing: border-box;
}

.background {
  background-image: url(images/download.jpg);
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #212326;
}

.navbar-links {
  margin-right: 125px;
}

.nav-link {
  color: white;
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
}

.nav-link:active {
  border-bottom: 2px solid #e9543c;
}

.nav-link:hover {
  border-bottom: 2px solid #e9543c;
  color: #cccccc;
}

.logo {
  height: 85px;
  width: 175px;
  margin-left: 170px;
}

.intro {
  width: 90%;
  margin: 50px auto 50px auto;
  padding-bottom: 100px;
  font-size: 56px;
  font-family: "Cardo", serif;
  color: white;
}

#carouselExampleControls {
  background-image: linear-gradient(to right, #557d91, #db5e4c);
  height: 150px;
}

.carousel-item {
  height: 100px;
  width: 100px;
  margin: auto 0 auto 0;
}

.carousel-inner {
  justify-items: center;
}

.carousel-control-prev {
  background-color: transparent;
  border: none;
}

.carousel-control-next {
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 480) {
  .navbar {
    background-color: transparent;
  }
}

.contact {
  background-image: url(images/Tiny-Horse-Marketing-Agency-Contact.jpg);
  background-size: cover;
  width: 100%;
  max-height: 400%;
  margin: 0px;
  padding: 5%;
  font-size: 40px;
  font-family: "Cardo", serif;
  color: white;
}

.contact_font {
  font-family: Arial, Helvetica, sans-serif;
}

.contactUs:link,
.contactUs:visited,
.contactUs:hover {
  color: aliceblue;
  text-decoration: none;
}

.footer {
  color: #cccccc;
  background-color: #212326;
  padding-bottom: 100px;
}
.col-sm {
  padding-top: 8%;
  line-height: 4;
}

#logo2 {
  margin-top: 2px;
}

.logo3 {
  width: 200px;
}

.copyright {
  color: rgb(179, 174, 168);
  background-color: #212326;
  font-size: 12px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}

.ppl:visited,
.ppl:link {
  color: rgb(179, 174, 168);
  text-decoration: none;
}

.ppl:hover {
  color: #db5e4c;
}

.emailLink:visited,
.emailLink:link {
  color: #cccccc;
  text-decoration: none;
}
