.btn-primary{
    color: black;
    padding: 25px;
    background-color:tan;
    border-block: black;
    border: 3px solid black;
}

.btn-secondary{
    color: black;
    padding: 25px;
    background-color:tan;
    border-block: black;
    border: 3px solid black;
}